In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\intel\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\intel\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
import mysql.connector
import os

In [9]:
mydb=mysql.connector.connect(host="localhost",user='Rutuja',password='rutu@1234')
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F13A6ED390>

In [10]:
cursor=mydb.cursor()

In [11]:
cursor.execute("CREATE DATABASE IF NOT EXISTS mydatabase")

In [12]:
CREATE TABLE Ages (
     name VARCHAR(128),
     age INTIGER
)

DELETE FROM Ages; 
INSERT INTO Ages (name, age) VALUE ('Mara', 28);
INSERT INTO Ages (name, age) VALUE ('Otto', 33);
INSERT INTO Ages (name, age) VALUE ('Fyn', 31);
INSERT INTO Ages (name, age) VALUE  ('Neshwan',17);

import sqlite
db = sqlite3.connect(':memory:')

cursor = db.cursor()
cursor.execute('''
      CREATE TABLE Ages (
      name VARCHAR(128),
      age INTIGER
      )''')

cursor.execute('''DELETE FROM Age''')

cursor.execute('''INSERT INTO Ages(name,age) VALUES ('Mara', 28)''')
cursor.execute('''INSERT INTO Ages(name,age) VALUES ('Otto', 33)''')
cursor.execute('''INSERT INTO Ages(name,age) VALUES ('Fyn', 31)''')
cursor.execute('''INSERT INTO Ages(name,age) VALUES ('Neshwan', 17)''')

cursor.execute('''SELECT hex(name || age) AS X FROM AGES ORDER BY X''')

 user1 = cursor.fetchone()
    print("The first row in the resultingrecord set :"+user1[0])
    
    db.comit()

SyntaxError: invalid syntax (3691712257.py, line 1)